@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic,400italic,400);

/* Theme colors */

$color-brand: darken(#428bca, 6.5%);
$color-primary: darken(#428bca, 6.5%);
$color-info: #5cb85c;
$color-danger :#d9534f;

$color-bg: #f2f2f2;
$color-text: #323232;


@import "animate";
@import "glyphicons";
@import "grid";
@import "wordpress";
@import "base";