/* Images */
.entry-content img,
.comment-content img {
	max-width: 97.5%;
	box-shadow:0 0 9px rgba(0,0,0,.5)
}
.entry-content iframe,
.entry-content video { margin-bottom: 1em}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}
img.size-full,
img.size-large {
	max-width: 97.5%;
	width: auto;
	height: auto;
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 1.625em;
}
.alignleft {float:left; margin-right: 1em;}
.alignright {float:right; margin-left: 1em;}
.aligncenter {margin-left:auto; margin-right:auto;display:block;}
p img,
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
max-width: 100%!important;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	color: #666;text-align:center;
	font-size: 0.800em; line-height: 1.3em;
}
.wp-caption .wp-caption-text {
	margin-bottom: 0.6em;
	padding: 10px 0 5px;
	position: relative;
}